<h2>Accessories</h2>
<div class="accessories">
    {{#each accessories}}
    <div class="accessory">
        <img src="{{this.imageUrl}}" alt="stickerName">
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
    </div>
    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
    {{/each}}
</div>